[Unit]
Description=KOBIS Movie DB Flask Gunicorn Service
After=network.target mysql.service

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/kobis-movie-db
EnvironmentFile=/home/ubuntu/kobis-movie-db/.env
ExecStart=/home/ubuntu/kobis-movie-db/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:5000 app:app
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
